.general-page {
  width: 100%;
  padding-bottom: 80px;
  background: url(/images/fon.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  * {
    z-index: 1;
  }
  h1 {
    line-height: 1;
    margin-bottom: 1rem;
    width: 100%;
  }
  h3 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.15);
    z-index: 0;
  }
  .q-tabs {
    border-radius: 30px;
    margin-top: 2rem;
    margin-left: 0;
  }
  .q-form {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    .content {
      display: flex;
      padding: 30px;
      padding-top: 15px;
      padding-bottom: 40px;
      border-radius: 30px;
      margin-left: 0;
      .q-field {
        width: 100%;
      }
    }
  }
  @media (max-width: 992px) {
    padding-bottom: 60px;
    h1 {
      font-size: 56px;
    }
    h3 {
      font-size: 26px;
    }
  }
  @media (max-width: 772px) {
    h1 {
      font-size: 38px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0rem;
    }
    h3 {
      font-size: 20px;
      line-height: 1.1;
    }
    .additation {
      .q-toggle {
        flex: 0 0 100%;
        margin-bottom: 15px;
        .q-toggle__label {
          font-size: 12px;
        }
      }
      .q-btn {
        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }
  }
}


.hot-deals {
  padding-bottom: 15px;
  .cards {
    width: 100%;
    .card-sec {
      padding: 15px;
    }
  }
}

.property-rental {
  position: relative;
  background: white;
  padding-bottom: 30px;
  .cards-section {
    .car-sec {
      margin: 10px;
      position: relative;
      &.col-3 {
        flex: 0 0 calc(25% - 20px);
        max-width: calc(25% - 20px);
        .q-img,
        img {
          height: 230px;
          object-fit: cover;
        }
      }
    }
  }
  @media (max-width: 772px) {
    .cards-section {
      .car-sec {
        margin: 10px;
        position: relative;
        &.col-3 {
          flex: 0 0 calc(100% - 20px);
          max-width: calc(100% - 20px);
          .q-img,
          img {
            min-height: 216px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.documents-sec {
  .cards-sec {
    width: 100%;
    .my-card {
      margin: 10px;
      &.col-4 {
        flex: 0 0 calc(33.333333% - 20px);
        max-width: calc(33.333333% - 20px);
        padding-bottom: 10px;
        .q-img,
        img {
          min-height: 216px;
          object-fit: cover;
        }
      }
      &.col-12 {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
      }
    }
  }
  @media (max-width: 772px) {
    .cards-sec {
      .my-card {
        &.col-4 {
          flex: 0 0 calc(100% - 20px);
          max-width: calc(100% - 20px);
        }
      }
    }
  }
}

.q-toolbar .q-avatar {
  font-size: 58px;
}

.team-sec {
  padding-bottom: 80px;
  @media (min-width: 772px) {
    .container  {
      max-width: 1460px;
    }
  }
  .cards-sec {
    width: 100%;
    .my-card {
      margin: 10px;
      &.col-4 {
        flex: 0 0 calc(33.333333% - 20px);
        max-width: calc(33.333333% - 20px);
        padding-bottom: 10px;
        .q-img,
        img {
          height: 280px;
          object-fit: cover;
        }
      }
      &.col-12 {
        flex: 0 0 calc(100% - 20px);
        max-width: calc(100% - 20px);
      }
    }
  }
  @media (max-width: 772px) {
    .cards-sec {
      .my-card {
        &.col-4 {
          flex: 0 0 calc(100% - 20px);
          max-width: calc(100% - 20px);
        }
      }
    }
  }
}