// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'Montserrat', sans-serif !important;
}


@import 'quasar.variables';

@import 'components';
@import 'layout';
@import 'admin';

// pages
@import 'pages/home';
@import 'pages/catalog';
@import 'pages/single';
@import 'pages/services';


.text-h3 {
  @media (max-width: 772px) {
    font-size: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.2;
  }
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.btn-reverse-il-mb {
  .q-btn__content {
    .q-icon {
      display: none !important;
    }
  }
  @media (max-width: 992px) {
    padding: 4px 6px;
    .q-btn__content {
      .q-icon {
        display: inherit !important;
        margin: 0;
        font-size: 24px;
      }
      .block {
        display: none !important;
      }
    }
  }
}

.w-100 {
  width: 100%;
}

.mb-visible {
  display: none !important;
}

@media (max-width: 772px) {
  .mb-visible {
    display: inherit !important;
  }
  .lg-visible {
    display: none !important;
  }
}

