.toolbar-info {

}
.phone {
  text-decoration: none;
}
.q-toolbar__title {
  max-width: max-content;
}

.tabs-link {
  .q-tab {
    border-radius: 48px;
    .q-tab__label {
      font-weight: 500;
    }
  }
  
}

.q-field {
  .q-field__append {
    position: absolute;
    right: 5px;
  }
}

@media (max-width: 772px) {
  .q-field {
    .q-field__control {
      height: 46px;
      min-height: 46px;
      .q-field__label {
        font-size: 14px;
      }
    }
  }
}

.mini-fileds {
  
}
