// breakpoint variable, from https://quasar.dev/style/breakpoints
// Except the xs one because I think 600px is too small
$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;

.container,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media (min-width: $xs-breakpoint) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: $sm-breakpoint) {
  .container,
  .container-sm,
  .container-md {
    max-width: 920px;
  }
}

@media (min-width: $md-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1140px;
  }
}

@media (min-width: $lg-breakpoint) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

@media (max-width: 992px) {
  .my-header {
    .toolbar-info {
      
    }
    .toolbar-head {
      min-height: max-content !important;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  
  .tabs-link {
    .q-tab {
      padding: 0 8px;
      min-height: max-content;
      .q-tab__content {
        .q-tab__label {
          font-size: 12px;
          text-transform: capitalize;
          line-height: 1;
        }
        
      }
    }
  }
}

@media (max-width: 772px) {
  .q-drawer--right {
    width: 100% !important;
    // padding-top: 60px;
    .q-drawer__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .tabs-link {
      padding-top: 30px;
      .q-tabs__content {
        flex-direction: column;
        .q-tab {
          margin-top: 15px;
          .q-tab__label {
            font-size: 14px;
          }
        }
      }
    }
    .phone {
      display: block;
      text-align: center;
      margin-top: 30px;
    }
    .socials {
      margin-top: 15px;
      .q-btn {
        .q-icon {
          font-size: 2.2em;
        }
      }
    }
  }
  .my-header {
    z-index: 10001;
    .toolbar-info {
      display: none;
    }
    .toolbar-head {
      min-height: max-content !important;
      padding-top: 10px;
      padding-bottom: 10px;
      .tabs-link {
        display: none;
      }
    }
  }
  
  .tabs-link {
    .q-tab {
      padding: 0 8px;
      min-height: max-content;
      .q-tab__content {
        .q-tab__label {
          font-size: 12px;
          text-transform: capitalize;
          line-height: 1;
        }
        
      }
    }
  }
}


@media (max-width: 992px) {
  .q-footer {
    .q-toolbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      .phone {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .q-tabs {
        margin-left: 0;
      }
    }
    .phone {
      margin-top: 10px;
      margin-bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      margin-left: 0 !important;
    }
  }
}